@import "scaffold.less";

body{
	background-color: @bodyBackground;
}

label, input, select{
	display:block;
}

#characterSelection{
	width:210px;
	margin:0 auto;
	/*delete when ready
	display: none;*/
}


.enemyContainer, .charContainer{
	// float: left;
	margin: 10px auto;
	width: 50%;
	text-align: center;
	overflow: auto;
	background-color: @highlight;
	border: 1px solid @black;
}

.actionContainer{
	margin-top: 20px;
	text-align: center;
	clear: both;
}

.container{
	width: 500px;
	margin: 0 auto;
}

#combatLog{
	text-align: center;
	max-height: 90px;
	clear: both;
	overflow: auto;
	background-color: @white;
	border: 1px solid @black;
}

#level-up{
	text-align: center;
}

#dead{
	text-align: center;
}

.hidden{
	display: none;
}

.enemy{
	color: red;
}

.char{
	color: green;
}